body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;


}
#frmUserReg{
    display: table-cell;
    vertical-align: middle;
    
}